In [27]:
%load_ext sql
%sql mysql://iasamori@localhost/?charset=utf8mb4
%sql SHOW DATABASES;

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Running query in 'mysql://iasamori@localhost/?charset=utf8mb4'

9 rows affected.

+--------------------+
|      Database      |
+--------------------+
|      campione      |
|    dla_tutorial    |
|    dlatk_lexica    |
|      iasamori      |
|   iasamori_album   |
|   iasamori_test    |
|   iasamori_world   |
| information_schema |
|     sql_intro      |
+--------------------+

In [28]:
%config SqlMagic.displaylimit = 200

In [29]:
%sql USE iasamori;

Running query in 'mysql://iasamori@localhost/?charset=utf8mb4'

++
||
++
++

### Remove non English text and clean URLs and @mentions

In [12]:
!dlatkInterface.py --corpdb iasamori --corptable cmt7 \
    --correl_field message_id --language_filter en --clean_messages

-----
DLATK Interface Initiated: 2025-06-06 02:49:59
-----
SQL QUERY: DROP TABLE IF EXISTS cmt7_en
SQL QUERY: CREATE TABLE cmt7_en LIKE cmt7
SQL QUERY: ALTER TABLE cmt7_en CHARACTER SET utf8mb4 COLLATE utf8mb4_bin ENGINE=MYISAM
Reading 938,852 messages
   10000 rows written ( 1.390 % done)
   20000 rows written ( 2.775 % done)
   30000 rows written ( 4.128 % done)
   40000 rows written ( 5.496 % done)
   50000 rows written ( 6.849 % done)
   60000 rows written ( 8.189 % done)
   70000 rows written ( 9.542 % done)
   80000 rows written (10.868 % done)
   90000 rows written (12.174 % done)
  100000 rows written (13.470 % done)
  110000 rows written (14.800 % done)
  120000 rows written (16.125 % done)
  130000 rows written (17.470 % done)
  140000 rows written (18.849 % done)
  150000 rows written (20.157 % done)
  160000 rows written (21.489 % done)
  170000 rows written (22.814 % done)
  180000 rows written (24.161 % done)
  190000 rows written (25.489 % done)
  200000 rows written (26.790 % done)
  210000 rows written (28.106 % done)
  220000 rows written (29.424 % done)
  230000 rows written (30.771 % done)
  240000 rows written (32.108 % done)
  250000 rows written (33.436 % done)
  260000 rows written (34.764 % done)
  270000 rows written (36.067 % done)
  280000 rows written (37.371 % done)
  290000 rows written (38.680 % done)
  300000 rows written (40.019 % done)
  310000 rows written (41.313 % done)
  320000 rows written (42.613 % done)
  330000 rows written (43.919 % done)
  340000 rows written (45.230 % done)
  350000 rows written (46.551 % done)
  360000 rows written (47.877 % done)
  370000 rows written (49.186 % done)
  380000 rows written (50.490 % done)
  390000 rows written (51.816 % done)
  400000 rows written (53.131 % done)
  410000 rows written (54.422 % done)
  420000 rows written (55.731 % done)
  430000 rows written (57.038 % done)
  440000 rows written (58.359 % done)
  450000 rows written (59.673 % done)
  460000 rows written (60.962 % done)
  470000 rows written (62.277 % done)
  480000 rows written (63.630 % done)
  490000 rows written (64.934 % done)
  500000 rows written (66.358 % done)
  510000 rows written (67.756 % done)
  520000 rows written (69.135 % done)
  530000 rows written (70.504 % done)
  540000 rows written (71.897 % done)
  550000 rows written (73.269 % done)
  560000 rows written (74.617 % done)
  570000 rows written (75.947 % done)
  580000 rows written (77.284 % done)
  590000 rows written (78.664 % done)
  600000 rows written (80.027 % done)
  610000 rows written (81.409 % done)
  620000 rows written (82.766 % done)
  630000 rows written (84.135 % done)
  640000 rows written (85.503 % done)
  650000 rows written (86.885 % done)
  660000 rows written (88.249 % done)
  670000 rows written (89.589 % done)
  680000 rows written (90.913 % done)
  690000 rows written (92.296 % done)
  700000 rows written (93.631 % done)
  710000 rows written (95.053 % done)
  720000 rows written (96.375 % done)
  730000 rows written (97.744 % done)
  740000 rows written (99.099 % done)
Adding final rows
Kept 746615 out of 938852 messages
{'cmt7_en': 746615}
-------
Settings:

Database - iasamori
Corpus - cmt7
Group ID - message_id
-------
Interface Runtime: 860.48 seconds
DLATK exits with success! A good day indeed  Â¯\_(ãƒ„)_/Â¯.

### Remove duplicated texts

In [13]:
%%sql
    
ALTER TABLE cmt7_en
ADD COLUMN user_id INT DEFAULT 1;

Running query in 'mysql://iasamori@localhost/?charset=utf8mb4'

746615 rows affected.

++
||
++
++

In [14]:
!dlatkInterface.py --corpdb iasamori --corptable cmt7_en \
    --correl_field user_id --deduplicate --clean_messages

-----
DLATK Interface Initiated: 2025-06-06 03:04:26
-----
SQL QUERY: DROP TABLE IF EXISTS cmt7_en_dedup
SQL QUERY: CREATE TABLE cmt7_en_dedup LIKE cmt7_en
SQL QUERY: ALTER TABLE cmt7_en_dedup CHARACTER SET utf8mb4 COLLATE utf8mb4_bin ENGINE=MYISAM
deduplicating messages for 1 'user_id's
-------
Settings:

Database - iasamori
Corpus - cmt7_en
Group ID - user_id
-------
Interface Runtime: 3115.75 seconds
DLATK exits with success! A good day indeed  Â¯\_(ãƒ„)_/Â¯.

### Check tables

In [15]:
a = %sql SHOW TABLES
print(a)

Running query in 'mysql://iasamori@localhost/?charset=utf8mb4'

5 rows affected.

+------------------------------------------+
|            Tables_in_iasamori            |
+------------------------------------------+
|                   cmt7                   |
|                 cmt7_en                  |
|              cmt7_en_dedup               |
|   feat$1gram$cmt7_en_dedup$message_id    |
| feat$meta_1gram$cmt7_en_dedup$message_id |
+------------------------------------------+

### Make 1gram tokens of comments messages

In [16]:
!dlatkInterface.py --corpdb iasamori --corptable cmt7_en_dedup --correl_field message_id --add_ngrams -n 1

-----
DLATK Interface Initiated: 2025-06-06 03:56:24
-----
query: SELECT column_type FROM information_schema.columns WHERE table_schema='iasamori' AND table_name='cmt7_en_dedup' AND column_name='message_id'
SQL QUERY: DROP TABLE IF EXISTS feat$1gram$cmt7_en_dedup$message_id
SQL QUERY: CREATE TABLE feat$1gram$cmt7_en_dedup$message_id ( id BIGINT(16) UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY, group_id double, feat VARCHAR(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin, value INTEGER, group_norm DOUBLE, KEY `correl_field` (`group_id`), KEY `feature` (`feat`)) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin ENGINE=MYISAM
query: SELECT column_type FROM information_schema.columns WHERE table_schema='iasamori' AND table_name='cmt7_en_dedup' AND column_name='message_id'
SQL QUERY: DROP TABLE IF EXISTS feat$meta_1gram$cmt7_en_dedup$message_id
SQL QUERY: CREATE TABLE feat$meta_1gram$cmt7_en_dedup$message_id ( id BIGINT(16) UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY, group_id double, feat VARCHAR(16) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin, value INTEGER, group_norm DOUBLE, KEY `correl_field` (`group_id`), KEY `feature` (`feat`)) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin ENGINE=MYISAM
finding messages for 641729 'message_id's
WARNING: The table cmt7_en_dedup does not have: a PRIMARY key on message_id. Consider adding.
         Please check that all messages have a unique message_id, this can significantly impact all downstream analysis
 [0%] Inserted 4 total ngram rows covering 1 message_ids
Messages Read: 5k
Messages Read: 10k
Messages Read: 15k
Messages Read: 20k
Messages Read: 25k
Messages Read: 30k
 [5%] Inserted 441186 total ngram rows covering 32087 message_ids
Messages Read: 35k
Messages Read: 40k
Messages Read: 45k
Messages Read: 50k
Messages Read: 55k
Messages Read: 60k
 [10%] Inserted 884720 total ngram rows covering 64173 message_ids
Messages Read: 65k
Messages Read: 70k
Messages Read: 75k
Messages Read: 80k
Messages Read: 85k
Messages Read: 90k
Messages Read: 95k
 [15%] Inserted 1334754 total ngram rows covering 96260 message_ids
Messages Read: 100k
Messages Read: 105k
Messages Read: 110k
Messages Read: 115k
Messages Read: 120k
Messages Read: 125k
 [20%] Inserted 1787265 total ngram rows covering 128346 message_ids
Messages Read: 130k
Messages Read: 135k
Messages Read: 140k
Messages Read: 145k
Messages Read: 150k
Messages Read: 155k
Messages Read: 160k
 [25%] Inserted 2268789 total ngram rows covering 160433 message_ids
Messages Read: 165k
Messages Read: 170k
Messages Read: 175k
Messages Read: 180k
Messages Read: 185k
Messages Read: 190k
 [30%] Inserted 2739246 total ngram rows covering 192519 message_ids
Messages Read: 195k
Messages Read: 200k
Messages Read: 205k
Messages Read: 210k
Messages Read: 215k
Messages Read: 220k
 [35%] Inserted 3203844 total ngram rows covering 224606 message_ids
Messages Read: 225k
Messages Read: 230k
Messages Read: 235k
Messages Read: 240k
Messages Read: 245k
Messages Read: 250k
Messages Read: 255k
 [40%] Inserted 3666389 total ngram rows covering 256692 message_ids
Messages Read: 260k
Messages Read: 265k
Messages Read: 270k
Messages Read: 275k
Messages Read: 280k
Messages Read: 285k
 [45%] Inserted 4139706 total ngram rows covering 288779 message_ids
Messages Read: 290k
Messages Read: 295k
Messages Read: 300k
Messages Read: 305k
Messages Read: 310k
Messages Read: 315k
Messages Read: 320k
 [50%] Inserted 4611101 total ngram rows covering 320865 message_ids
Messages Read: 325k
Messages Read: 330k
Messages Read: 335k
Messages Read: 340k
Messages Read: 345k
Messages Read: 350k
 [55%] Inserted 5070634 total ngram rows covering 352951 message_ids
Messages Read: 355k
Messages Read: 360k
Messages Read: 365k
Messages Read: 370k
Messages Read: 375k
Messages Read: 380k
Messages Read: 385k
 [60%] Inserted 5549752 total ngram rows covering 385038 message_ids
Messages Read: 390k
Messages Read: 395k
Messages Read: 400k
Messages Read: 405k
Messages Read: 410k
Messages Read: 415k
 [65%] Inserted 6031427 total ngram rows covering 417124 message_ids
Messages Read: 420k
Messages Read: 425k
Messages Read: 430k
Messages Read: 435k
Messages Read: 440k
Messages Read: 445k
 [70%] Inserted 6520965 total ngram rows covering 449211 message_ids
Messages Read: 450k
Messages Read: 455k
Messages Read: 460k
Messages Read: 465k
Messages Read: 470k
Messages Read: 475k
Messages Read: 480k
 [75%] Inserted 7018082 total ngram rows covering 481297 message_ids
Messages Read: 485k
Messages Read: 490k
Messages Read: 495k
Messages Read: 500k
Messages Read: 505k
Messages Read: 510k
 [80%] Inserted 7492685 total ngram rows covering 513384 message_ids
Messages Read: 515k
Messages Read: 520k
Messages Read: 525k
Messages Read: 530k
Messages Read: 535k
Messages Read: 540k
Messages Read: 545k
 [85%] Inserted 7958099 total ngram rows covering 545470 message_ids
Messages Read: 550k
Messages Read: 555k
Messages Read: 560k
Messages Read: 565k
Messages Read: 570k
Messages Read: 575k
 [90%] Inserted 8421077 total ngram rows covering 577557 message_ids
Messages Read: 580k
Messages Read: 585k
Messages Read: 590k
Messages Read: 595k
Messages Read: 600k
Messages Read: 605k
 [95%] Inserted 8874921 total ngram rows covering 609643 message_ids
Messages Read: 610k
Messages Read: 615k
Messages Read: 620k
Messages Read: 625k
Messages Read: 630k
Messages Read: 635k
Messages Read: 640k
 [100%] Inserted 9356300 total ngram rows covering 641729 message_ids
Done Reading / Inserting.
Done

-------
Settings:

Database - iasamori
Corpus - cmt7_en_dedup
Group ID - message_id
Feature table(s) - feat$1gram$cmt7_en_dedup$message_id
-------
Interface Runtime: 802.02 seconds
DLATK exits with success! A good day indeed  Â¯\_(ãƒ„)_/Â¯.

In [17]:
a = %sql SHOW TABLES
print(a)

Running query in 'mysql://iasamori@localhost/?charset=utf8mb4'

5 rows affected.

+------------------------------------------+
|            Tables_in_iasamori            |
+------------------------------------------+
|                   cmt7                   |
|                 cmt7_en                  |
|              cmt7_en_dedup               |
|   feat$1gram$cmt7_en_dedup$message_id    |
| feat$meta_1gram$cmt7_en_dedup$message_id |
+------------------------------------------+

### Select out clean comments from comments_7 table. This table will be called cmt7_cln

In [19]:
%load_ext rpy2.ipython

In [20]:
%%R

source("./psych290_data/helper_files/psych290RcodeV1.R")

require(tidyverse)
require(RSQLite)
require(ggthemes)
require(ggpubr)
require(grid)
require(reshape2)
require(psych)
require(lm.beta)
library(caret)

library(DBI)
library(RMySQL)

dbcon <- dbConnect(
  drv = MySQL(),
  host = "localhost",  # or your server address
  dbname = "iasamori",
  user = "iasamori",
  port = 3306
)

R[write to console]: Loading required package: ggthemes

R[write to console]: Loading required package: tidyverse

â”€â”€ Attaching core tidyverse packages â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ tidyverse 2.0.0 â”€â”€
âœ” dplyr     1.1.4     âœ” readr     2.1.5
âœ” forcats   1.0.0     âœ” stringr   1.5.1
âœ” ggplot2   3.4.4     âœ” tibble    3.2.1
âœ” lubridate 1.9.3     âœ” tidyr     1.3.1
âœ” purrr     1.0.2
â”€â”€ Conflicts â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ tidyverse_conflicts() â”€â”€
âœ– dplyr::filter() masks stats::filter()
âœ– dplyr::lag()    masks stats::lag()
â„¹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

R[write to console]: Loading required package: RSQLite

R[write to console]: Loading required package: ggpubr

R[write to console]: Loading required package: psych

R[write to console]:
Attaching package: â€˜psychâ€™


R[write to console]: The following objects are masked from â€˜package:ggplot2â€™:

    %+%, alpha


R[write to console]: Loading required package: lm.beta

R[write to console]: Loading required package: lattice

R[write to console]:
Attaching package: â€˜caretâ€™


R[write to console]: The following object is masked from â€˜package:purrrâ€™:

    lift

In [21]:
%%R

comments_7 <- dbGetQuery(dbcon, "select * from `cmt7`")

one_gram_meta <- dbGetQuery(dbcon, "select * from `feat$meta_1gram$cmt7_en_dedup$message_id`")
one_gram_meta_wide <- importFeat(one_gram_meta)
one_gram_meta_wide <- one_gram_meta_wide[one_gram_meta_wide$"_total1grams" > 5, ]

message_ids <- one_gram_meta_wide$group_id

comments_7_cleaned <- comments_7[comments_7$message_id %in% message_ids, ] 

# dbWriteTable(db_con, "comments_7_cleaned", comments_7_cleaned,
#              overwrite=TRUE, row.names=FALSE, encoding="UTF-8

dbWriteTable(conn = dbcon,
             name = "cmt7_cln",
             value = comments_7_cleaned,
             overwrite = TRUE,
             append = FALSE,
             row.names = FALSE)

print(dim(comments_7))
print(dim(comments_7_cleaned))
head(comments_7_cleaned)

[1] 938852      8
[1] 569581      8
                                                                                                                    message
6                                    I can sympathize with you. I am so sorry for your loss. My son is presently in prison.
7                                                       Thank you for your compassion many blessings to you and your son ðŸ¤Ž
9                                                                                Another beautiful soul lost too soon. ðŸ’”ðŸ¥º
10 You are so welcome, what a beautiful boy you had. The world lost out on this. But I am so happy you like it â¤ï¸â¤ï¸â¤ï¸â¤ï¸ðŸ™ŒðŸ™ŒðŸ™ðŸ™
11                                                      This is absolutely beautiful tribute to my son â€¦ thank you ðŸ¥¹ðŸ˜­ðŸ’”ðŸ¤ðŸ•Šï¸
13                                                    Illicit Fentanyl is destroying our country. Sorry for your loss. ðŸ’–ðŸ™
       video_id create_time   message_id like_count parent_comment_id
6  7.257209e+18  1690164719 7.259202e+18          0      7.257209e+18
7  7.257209e+18  1691674654 7.265687e+18          0      7.259202e+18
9  7.210771e+18  1679196438 7.212094e+18          2      7.210771e+18
10 7.210771e+18  1678892454 7.210788e+18          1      7.210788e+18
11 7.210771e+18  1678892385 7.210788e+18          1      7.210771e+18
13 7.210771e+18  1678957300 7.211066e+18          1      7.210771e+18
   reply_count month_year
6            1     7_2023
7            0     8_2023
9            0     3_2023
10           0     3_2023
11           2     3_2023
13           0     3_2023

#### Indexing cleaned table

In [22]:
%%sql

CREATE INDEX idx_cmt7_cln_message ON cmt7_cln (message);
CREATE INDEX idx_cmt7_cln_video_id ON cmt7_cln (video_id);
CREATE INDEX idx_cmt7_cln_create_time ON cmt7_cln (create_time);
CREATE INDEX idx_cmt7_cln_message_id ON cmt7_cln (message_id);
CREATE INDEX idx_cmt7_cln_like_count ON cmt7_cln (like_count);
CREATE INDEX idx_cmt7_cln_parent_comment_id ON cmt7_cln (parent_comment_id);
CREATE INDEX idx_ccmt7_cln_reply_count ON cmt7_cln (reply_count);
CREATE INDEX idx_ccmt7_cln_month_yeart ON cmt7_cln (month_year);

Running query in 'mysql://iasamori@localhost/?charset=utf8mb4'

++
||
++
++

### Making 1 gram of cleaned table

#### 1gram by message_id

In [23]:
!dlatkInterface.py --corpdb iasamori --corptable cmt7_cln --correl_field message_id \
 --add_ngrams -n 1 --feat_occ_filter --set_p_occ 0.0001

-----
DLATK Interface Initiated: 2025-06-06 04:25:55
-----
query: SELECT column_type FROM information_schema.columns WHERE table_schema='iasamori' AND table_name='cmt7_cln' AND column_name='message_id'
SQL QUERY: DROP TABLE IF EXISTS feat$1gram$cmt7_cln$message_id
SQL QUERY: CREATE TABLE feat$1gram$cmt7_cln$message_id ( id BIGINT(16) UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY, group_id double, feat VARCHAR(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin, value INTEGER, group_norm DOUBLE, KEY `correl_field` (`group_id`), KEY `feature` (`feat`)) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin ENGINE=MYISAM
query: SELECT column_type FROM information_schema.columns WHERE table_schema='iasamori' AND table_name='cmt7_cln' AND column_name='message_id'
SQL QUERY: DROP TABLE IF EXISTS feat$meta_1gram$cmt7_cln$message_id
SQL QUERY: CREATE TABLE feat$meta_1gram$cmt7_cln$message_id ( id BIGINT(16) UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY, group_id double, feat VARCHAR(16) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin, value INTEGER, group_norm DOUBLE, KEY `correl_field` (`group_id`), KEY `feature` (`feat`)) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin ENGINE=MYISAM
finding messages for 569581 'message_id's
WARNING: The table cmt7_cln does not have: a PRIMARY key on message_id. Consider adding.
         Please check that all messages have a unique message_id, this can significantly impact all downstream analysis
 [0%] Inserted 6 total ngram rows covering 1 message_ids
Messages Read: 5k
Messages Read: 10k
Messages Read: 15k
Messages Read: 20k
Messages Read: 25k
 [5%] Inserted 460767 total ngram rows covering 28480 message_ids
Messages Read: 30k
Messages Read: 35k
Messages Read: 40k
Messages Read: 45k
Messages Read: 50k
Messages Read: 55k
 [10%] Inserted 918949 total ngram rows covering 56959 message_ids
Messages Read: 60k
Messages Read: 65k
Messages Read: 70k
Messages Read: 75k
Messages Read: 80k
Messages Read: 85k
 [15%] Inserted 1383458 total ngram rows covering 85438 message_ids
Messages Read: 90k
Messages Read: 95k
Messages Read: 100k
Messages Read: 105k
Messages Read: 110k
 [20%] Inserted 1852951 total ngram rows covering 113917 message_ids
Messages Read: 115k
Messages Read: 120k
Messages Read: 125k
Messages Read: 130k
Messages Read: 135k
Messages Read: 140k
 [25%] Inserted 2347319 total ngram rows covering 142396 message_ids
Messages Read: 145k
Messages Read: 150k
Messages Read: 155k
Messages Read: 160k
Messages Read: 165k
Messages Read: 170k
 [30%] Inserted 2830646 total ngram rows covering 170875 message_ids
Messages Read: 175k
Messages Read: 180k
Messages Read: 185k
Messages Read: 190k
Messages Read: 195k
 [35%] Inserted 3308832 total ngram rows covering 199354 message_ids
Messages Read: 200k
Messages Read: 205k
Messages Read: 210k
Messages Read: 215k
Messages Read: 220k
Messages Read: 225k
 [40%] Inserted 3786116 total ngram rows covering 227833 message_ids
Messages Read: 230k
Messages Read: 235k
Messages Read: 240k
Messages Read: 245k
Messages Read: 250k
Messages Read: 255k
 [45%] Inserted 4273577 total ngram rows covering 256312 message_ids
Messages Read: 260k
Messages Read: 265k
Messages Read: 270k
Messages Read: 275k
Messages Read: 280k
 [50%] Inserted 4756941 total ngram rows covering 284791 message_ids
Messages Read: 285k
Messages Read: 290k
Messages Read: 295k
Messages Read: 300k
Messages Read: 305k
Messages Read: 310k
 [55%] Inserted 5231439 total ngram rows covering 313270 message_ids
Messages Read: 315k
Messages Read: 320k
Messages Read: 325k
Messages Read: 330k
Messages Read: 335k
Messages Read: 340k
 [60%] Inserted 5723485 total ngram rows covering 341749 message_ids
Messages Read: 345k
Messages Read: 350k
Messages Read: 355k
Messages Read: 360k
Messages Read: 365k
Messages Read: 370k
 [65%] Inserted 6225331 total ngram rows covering 370228 message_ids
Messages Read: 375k
Messages Read: 380k
Messages Read: 385k
Messages Read: 390k
Messages Read: 395k
 [70%] Inserted 6735420 total ngram rows covering 398707 message_ids
Messages Read: 400k
Messages Read: 405k
Messages Read: 410k
Messages Read: 415k
Messages Read: 420k
Messages Read: 425k
 [75%] Inserted 7252403 total ngram rows covering 427186 message_ids
Messages Read: 430k
Messages Read: 435k
Messages Read: 440k
Messages Read: 445k
Messages Read: 450k
Messages Read: 455k
 [80%] Inserted 7748007 total ngram rows covering 455665 message_ids
Messages Read: 460k
Messages Read: 465k
Messages Read: 470k
Messages Read: 475k
Messages Read: 480k
 [85%] Inserted 8237260 total ngram rows covering 484144 message_ids
Messages Read: 485k
Messages Read: 490k
Messages Read: 495k
Messages Read: 500k
Messages Read: 505k
Messages Read: 510k
 [90%] Inserted 8724896 total ngram rows covering 512623 message_ids
Messages Read: 515k
Messages Read: 520k
Messages Read: 525k
Messages Read: 530k
Messages Read: 535k
Messages Read: 540k
 [95%] Inserted 9206217 total ngram rows covering 541102 message_ids
Messages Read: 545k
Messages Read: 550k
Messages Read: 555k
Messages Read: 560k
Messages Read: 565k
 [100%] Inserted 9711792 total ngram rows covering 569581 message_ids
Done Reading / Inserting.
Done

####################################################################
####################################################################
WARNING: group_freq_thresh is set to 1. Be aware that groups might be removed during this process and your group norms will reflect this.
####################################################################
####################################################################
 feat$1gram$cmt7_cln$message_id [threshold: 57]
SQL QUERY: DROP TABLE IF EXISTS feat$1gram$cmt7_cln$message_id$0_0001
 feat$1gram$cmt7_cln$message_id <new table feat$1gram$cmt7_cln$message_id$0_0001 will have 6244 distinct features.>
SQL QUERY: CREATE TABLE feat$1gram$cmt7_cln$message_id$0_0001 LIKE feat$1gram$cmt7_cln$message_id
SQL QUERY: ALTER TABLE feat$1gram$cmt7_cln$message_id$0_0001 CHARACTER SET utf8mb4 COLLATE utf8mb4_bin ENGINE=MYISAM
SQL QUERY: ALTER TABLE feat$1gram$cmt7_cln$message_id$0_0001 DISABLE KEYS
SQL (SSCursor) QUERY: SELECT group_id, feat, value, group_norm FROM feat$1gram$cmt7_cln$message_id
0.1m feature instances written
0.2m feature instances written
0.3m feature instances written
0.4m feature instances written
0.5m feature instances written
0.6m feature instances written
0.7m feature instances written
0.8m feature instances written
0.9m feature instances written
1.0m feature instances written
1.1m feature instances written
1.2m feature instances written
1.3m feature instances written
1.4m feature instances written
1.5m feature instances written
1.6m feature instances written
1.7m feature instances written
1.8m feature instances written
1.9m feature instances written
2.0m feature instances written
2.1m feature instances written
2.2m feature instances written
2.3m feature instances written
2.4m feature instances written
2.5m feature instances written
2.6m feature instances written
2.7m feature instances written
2.8m feature instances written
2.9m feature instances written
3.0m feature instances written
3.1m feature instances written
3.2m feature instances written
3.3m feature instances written
3.4m feature instances written
3.5m feature instances written
3.6m feature instances written
3.7m feature instances written
3.8m feature instances written
3.9m feature instances written
4.0m feature instances written
4.1m feature instances written
4.2m feature instances written
4.3m feature instances written
4.4m feature instances written
4.5m feature instances written
4.6m feature instances written
4.7m feature instances written
4.8m feature instances written
4.9m feature instances written
5.0m feature instances written
5.1m feature instances written
5.2m feature instances written
5.3m feature instances written
5.4m feature instances written
5.5m feature instances written
5.6m feature instances written
5.7m feature instances written
5.8m feature instances written
5.9m feature instances written
6.0m feature instances written
6.1m feature instances written
6.2m feature instances written
6.3m feature instances written
6.4m feature instances written
6.5m feature instances written
6.6m feature instances written
6.7m feature instances written
6.8m feature instances written
6.9m feature instances written
7.0m feature instances written
7.1m feature instances written
7.2m feature instances written
7.3m feature instances written
7.4m feature instances written
7.5m feature instances written
7.6m feature instances written
7.7m feature instances written
7.8m feature instances written
7.9m feature instances written
8.0m feature instances written
8.1m feature instances written
8.2m feature instances written
8.3m feature instances written
8.4m feature instances written
8.5m feature instances written
8.6m feature instances written
8.7m feature instances written
8.8m feature instances written
8.9m feature instances written
9.0m feature instances written
9.1m feature instances written
9.2m feature instances written
9.3m feature instances written
Done inserting.
Enabling keys.
SQL QUERY: ALTER TABLE feat$1gram$cmt7_cln$message_id$0_0001 ENABLE KEYS
done.
-------
Settings:

Database - iasamori
Corpus - cmt7_cln
Group ID - message_id
Feature table(s) - feat$1gram$cmt7_cln$message_id$0_0001
-------
Interface Runtime: 864.94 seconds
DLATK exits with success! A good day indeed  Â¯\_(ãƒ„)_/Â¯.

#### 1gram by month

In [24]:
!dlatkInterface.py --corpdb iasamori --corptable cmt7_cln --correl_field month_year \
 --add_ngrams -n 1

-----
DLATK Interface Initiated: 2025-06-06 04:54:16
-----
query: SELECT column_type FROM information_schema.columns WHERE table_schema='iasamori' AND table_name='cmt7_cln' AND column_name='month_year'
SQL QUERY: DROP TABLE IF EXISTS feat$1gram$cmt7_cln$month_year
SQL QUERY: CREATE TABLE feat$1gram$cmt7_cln$month_year ( id BIGINT(16) UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY, group_id text, feat VARCHAR(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin, value INTEGER, group_norm DOUBLE, KEY `correl_field` (`group_id`), KEY `feature` (`feat`)) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin ENGINE=MYISAM
query: SELECT column_type FROM information_schema.columns WHERE table_schema='iasamori' AND table_name='cmt7_cln' AND column_name='month_year'
SQL QUERY: DROP TABLE IF EXISTS feat$meta_1gram$cmt7_cln$month_year
SQL QUERY: CREATE TABLE feat$meta_1gram$cmt7_cln$month_year ( id BIGINT(16) UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY, group_id text, feat VARCHAR(16) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin, value INTEGER, group_norm DOUBLE, KEY `correl_field` (`group_id`), KEY `feature` (`feat`)) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin ENGINE=MYISAM
finding messages for 55 'month_year's
SQL QUERY: ALTER TABLE feat$1gram$cmt7_cln$month_year DISABLE KEYS
WARNING: The table cmt7_cln does not have: a PRIMARY key on message_id. Consider adding.
         Please check that all messages have a unique message_id, this can significantly impact all downstream analysis
Messages Read: 5k
Messages Read: 10k
Messages Read: 15k
 [5%] Inserted 17422 total ngram rows covering 3 month_years
Messages Read: 20k
Messages Read: 25k
Messages Read: 30k
Messages Read: 35k
Messages Read: 40k
 [10%] Inserted 41541 total ngram rows covering 6 month_years
Messages Read: 45k
Messages Read: 50k
Messages Read: 55k
Messages Read: 60k
Messages Read: 65k
Messages Read: 70k
Messages Read: 75k
Messages Read: 80k
Messages Read: 85k
Messages Read: 90k
Messages Read: 95k
 [20%] Inserted 89853 total ngram rows covering 11 month_years
Messages Read: 100k
Messages Read: 105k
Messages Read: 110k
Messages Read: 115k
Messages Read: 120k
Messages Read: 125k
Messages Read: 130k
Messages Read: 135k
Messages Read: 140k
 [25%] Inserted 125459 total ngram rows covering 14 month_years
Messages Read: 145k
Messages Read: 150k
Messages Read: 155k
Messages Read: 160k
Messages Read: 165k
Messages Read: 170k
Messages Read: 175k
Messages Read: 180k
Messages Read: 185k
Messages Read: 190k
Messages Read: 195k
 [30%] Inserted 162250 total ngram rows covering 17 month_years
Messages Read: 200k
Messages Read: 205k
Messages Read: 210k
Messages Read: 215k
Messages Read: 220k
Messages Read: 225k
Messages Read: 230k
Messages Read: 235k
Messages Read: 240k
Messages Read: 245k
Messages Read: 250k
Messages Read: 255k
Messages Read: 260k
 [40%] Inserted 215407 total ngram rows covering 22 month_years
Messages Read: 265k
Messages Read: 270k
 [45%] Inserted 231548 total ngram rows covering 25 month_years
Messages Read: 275k
Messages Read: 280k
Messages Read: 285k
Messages Read: 290k
Messages Read: 295k
 [50%] Inserted 256031 total ngram rows covering 28 month_years
Messages Read: 300k
Messages Read: 305k
Messages Read: 310k
Messages Read: 315k
Messages Read: 320k
Messages Read: 325k
Messages Read: 330k
Messages Read: 335k
Messages Read: 340k
Messages Read: 345k
 [60%] Inserted 302225 total ngram rows covering 33 month_years
Messages Read: 350k
Messages Read: 355k
Messages Read: 360k
Messages Read: 365k
Messages Read: 370k
Messages Read: 375k
 [65%] Inserted 331391 total ngram rows covering 36 month_years
Messages Read: 380k
Messages Read: 385k
 [70%] Inserted 347657 total ngram rows covering 39 month_years
Messages Read: 390k
Messages Read: 395k
Messages Read: 400k
Messages Read: 405k
Messages Read: 410k
Messages Read: 415k
Messages Read: 420k
Messages Read: 425k
Messages Read: 430k
 [80%] Inserted 385556 total ngram rows covering 44 month_years
Messages Read: 435k
Messages Read: 440k
Messages Read: 445k
Messages Read: 450k
Messages Read: 455k
Messages Read: 460k
Messages Read: 465k
Messages Read: 470k
Messages Read: 475k
 [85%] Inserted 423844 total ngram rows covering 47 month_years
Messages Read: 480k
Messages Read: 485k
Messages Read: 490k
 [90%] Inserted 438598 total ngram rows covering 50 month_years
Messages Read: 495k
Messages Read: 500k
Messages Read: 505k
Messages Read: 510k
Messages Read: 515k
Messages Read: 520k
Messages Read: 525k
Messages Read: 530k
Messages Read: 535k
Messages Read: 540k
Messages Read: 545k
Messages Read: 550k
Messages Read: 555k
Messages Read: 560k
Messages Read: 565k
 [100%] Inserted 497831 total ngram rows covering 55 month_years
Done Reading / Inserting.
Adding Keys (if goes to keycache, then decrease MAX_TO_DISABLE_KEYS or run myisamchk -n).
SQL QUERY: ALTER TABLE feat$1gram$cmt7_cln$month_year ENABLE KEYS
Done

-------
Settings:

Database - iasamori
Corpus - cmt7_cln
Group ID - month_year
Feature table(s) - feat$1gram$cmt7_cln$month_year
-------
Interface Runtime: 41.84 seconds
DLATK exits with success! A good day indeed  Â¯\_(ãƒ„)_/Â¯.