In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/cdc_wonders_T40.csv")

df.head()

,Year,Year Code,Month,Month Code,Multiple Cause of death,Multiple Cause of death Code,Deaths
0,2018,2018,"Jan., 2018",2018/01,Heroin,T40.1,1176
1,2018,2018,"Jan., 2018",2018/01,Other opioids,T40.2,1194
2,2018,2018,"Jan., 2018",2018/01,Methadone,T40.3,268
3,2018,2018,"Jan., 2018",2018/01,Other synthetic narcotics,T40.4,2526
4,2018,2018,"Jan., 2018",2018/01,Cocaine,T40.5,1200

In [3]:
codes = ["T40.1", "T40.2", "T40.3", "T40.4", "T40.5", "T40.6", "T40.7"]
names = ["heroin", "nat_opioid", "methadone",  "syn_opioid", "cocaine", "unspecified", "cannabis"]

names_to_code = {names[i]:codes[i] for i in range(len(codes))}
code_to_names = {codes[i]:names[i] for i in range(len(codes))}
code_to_names

{'T40.1': 'heroin',
 'T40.2': 'nat_opioid',
 'T40.3': 'methadone',
 'T40.4': 'syn_opioid',
 'T40.5': 'cocaine',
 'T40.6': 'unspecified',
 'T40.7': 'cannabis'}

In [4]:
deaths_df = df[["Month Code", "Multiple Cause of death Code", "Deaths"]]
deaths_df = deaths_df.pivot(index="Month Code", 
                      columns="Multiple Cause of death Code", 
                      values="Deaths")

deaths_df = deaths_df.reset_index()
deaths_df = deaths_df.rename(columns=code_to_names)
deaths_df

Multiple Cause of death Code,Month Code,heroin,nat_opioid,methadone,syn_opioid,cocaine,unspecified,cannabis
0,2018/01,1176,1194,268,2526,1200,196,58
1,2018/02,1165,1038,254,2359,1117,149,61
2,2018/03,1325,1115,304,2655,1317,149,66
3,2018/04,1242,1072,269,2562,1257,185,67
4,2018/05,1300,1098,264,2656,1333,150,78
...,...,...,...,...,...,...,...,...
79,2024/08,198,644,271,3495,1690,33,67
80,2024/09,197,582,256,2994,1525,48,65
81,2024/10,217,571,249,3104,1504,60,66
82,2024/11,217,514,259,3030,1419,33,70
83,2024/12,138,413,187,2177,1024,30,46

In [9]:
census = pd.read_csv("./data/census_data.csv")
census["month_num_str"] = census["month_num"].astype(str).str.zfill(2)
census["Month Code"] = census["year"].astype(str) + "/" + census["month_num_str"]
census

    year      month  month_num  resident_population month_num_str Month Code
0   2021    January          1            331845010            01    2021/01
1   2021   February          2            331781640            02    2021/02
2   2021      March          3            331797645            03    2021/03
3   2021      April          4            331860794            04    2021/04
4   2021        May          5            331927373            05    2021/05
5   2021       June          6            332001243            06    2021/06
6   2021       July          7            332099760            07    2021/07
7   2021     August          8            332309095            08    2021/08
8   2021  September          9            332476987            09    2021/09
9   2021    October         10            332632825            10    2021/10
10  2021   November         11            332790066            11    2021/11
11  2021   December         12            332944016            12    2021/12
12  2022    January          1            333076095            01    2022/01
13  2022   February          2            333143964            02    2022/02
14  2022      March          3            333270565            03    2022/03
15  2022      April          4            333450582            04    2022/04
16  2022        May          5            333634341            05    2022/05
17  2022       June          6            333818051            06    2022/06
18  2022       July          7            334017321            07    2022/07
19  2022     August          8            334269739            08    2022/08
20  2022  September          9            334537650            09    2022/09
21  2022    October         10            334790804            10    2022/10
22  2022   November         11            335024203            11    2022/11
23  2022   December         12            335254172            12    2022/12
24  2023    January          1            335459736            01    2023/01
25  2023   February          2            335661692            02    2023/02
26  2023      March          3            335876018            03    2023/03
27  2023      April          4            336097793            04    2023/04
28  2023        May          5            336315484            05    2023/05
29  2023       June          6            336552261            06    2023/06
30  2023       July          7            336806231            07    2023/07
31  2023     August          8            337103895            08    2023/08
32  2023  September          9            337409418            09    2023/09
33  2023    October         10            337703191            10    2023/10
34  2023   November         11            337986543            11    2023/11
35  2023   December         12            338259155            12    2023/12
36  2024    January          1            338505183            01    2024/01
37  2024   February          2            338740353            02    2024/02
38  2024      March          3            339000753            03    2024/03
39  2024      April          4            339268209            04    2024/04
40  2024        May          5            339539066            05    2024/05
41  2024       June          6            339824802            06    2024/06
42  2024       July          7            340110988            07    2024/07
43  2024     August          8            340294414            08    2024/08
44  2024  September          9            340489239            09    2024/09
45  2024    October         10            340671553            10    2024/10
46  2024   November         11            340843530            11    2024/11
47  2024   December         12            341004896            12    2024/12
48  2025    January          1            341145500            01    2025/01
49  2025   February          2            341271663            02    2025/02
50  2025      March          3            341413812            03    2025/03
51  2025      April          4            341554233            04    2025/04
52  2025        May          5            341704048            05    2025/05
53  2025       June          6            341869297            06    2025/06
54  2025       July          7            342034432            07    2025/07
55  2025     August          8            342214706            08    2025/08
56  2025  September          9            342406376            09    2025/09
57  2025    October         10            342585507            10    2025/10
58  2025   November         11            342754338            11    2025/11
59  2025   December         12            342912518            12    2025/12

In [6]:
death_census_merge = pd.merge(deaths_df, census, on='Month Code', how='inner')
death_census_merge

,Month Code,heroin,nat_opioid,methadone,syn_opioid,cocaine,unspecified,cannabis,year,month,month_num,resident_population,month_num_str
0,2021/01,943,1182,342,5543,1828,164,108,2021,January,1,331845010,01
1,2021/02,752,1078,312,4890,1609,113,105,2021,February,2,331781640,02
2,2021/03,977,1244,341,6236,2096,122,101,2021,March,3,331797645,03
3,2021/04,907,1271,333,6272,2212,132,110,2021,April,4,331860794,04
4,2021/05,814,1215,323,6159,2107,124,106,2021,May,5,331927373,05
5,2021/06,722,1150,289,5939,2028,132,87,2021,June,6,332001243,06
6,2021/07,802,1154,289,6076,2128,127,90,2021,July,7,332099760,07
7,2021/08,749,1146,304,6150,2178,119,93,2021,August,8,332309095,08
8,2021/09,687,1116,284,5981,2093,123,89,2021,September,9,332476987,09
9,2021/10,660,1024,270,5915,2111,97,101,2021,October,10,332632825,10
10,2021/11,578,1018,279,5604,2012,85,82,2021,November,11,332790066,11
11,2021/12,583,1022,312,5838,2084,114,87,2021,December,12,332944016,12
12,2022/01,612,1056,313,5962,2126,106,114,2022,January,1,333076095,01
13,2022/02,547,992,239,5797,2121,95,104,2022,February,2,333143964,02
14,2022/03,570,1037,254,6310,2300,107,113,2022,March,3,333270565,03
15,2022/04,508,976,250,5876,2232,105,93,2022,April,4,333450582,04
16,2022/05,489,992,281,6014,2280,98,88,2022,May,5,333634341,05
17,2022/06,485,991,274,5957,2236,92,93,2022,June,6,333818051,06
18,2022/07,496,1058,295,6358,2319,85,96,2022,July,7,334017321,07
19,2022/08,470,944,303,6324,2380,94,99,2022,August,8,334269739,08
20,2022/09,436,988,248,6019,2313,69,95,2022,September,9,334537650,09
21,2022/10,418,989,285,6445,2415,90,94,2022,October,10,334790804,10
22,2022/11,395,888,283,6189,2343,72,89,2022,November,11,335024203,11
23,2022/12,445,962,309,6596,2508,92,83,2022,December,12,335254172,12
24,2023/01,370,899,282,6474,2518,88,96,2023,January,1,335459736,01
25,2023/02,373,862,260,5937,2290,44,92,2023,February,2,335661692,02
26,2023/03,382,996,282,6669,2624,95,122,2023,March,3,335876018,03
27,2023/04,370,924,308,6544,2590,83,97,2023,April,4,336097793,04
28,2023/05,355,935,290,6681,2690,59,112,2023,May,5,336315484,05
29,2023/06,376,835,270,6246,2576,54,66,2023,June,6,336552261,06
30,2023/07,315,843,309,6334,2543,60,75,2023,July,7,336806231,07
31,2023/08,315,807,285,6185,2650,57,93,2023,August,8,337103895,08
32,2023/09,304,754,241,5618,2289,56,81,2023,September,9,337409418,09
33,2023/10,286,793,270,5595,2289,64,68,2023,October,10,337703191,10
34,2023/11,240,730,257,5173,2171,46,72,2023,November,11,337986543,11
35,2023/12,298,734,301,5320,2222,50,94,2023,December,12,338259155,12
36,2024/01,249,845,298,5111,2193,51,77,2024,January,1,338505183,01
37,2024/02,260,730,279,4735,2055,49,83,2024,February,2,338740353,02
38,2024/03,227,705,251,4806,2099,56,82,2024,March,3,339000753,03
39,2024/04,272,712,274,4544,1994,52,93,2024,April,4,339268209,04
40,2024/05,245,723,259,4441,2024,35,60,2024,May,5,339539066,05
41,2024/06,211,665,271,4216,1931,48,68,2024,June,6,339824802,06
42,2024/07,228,663,258,3811,1874,35,74,2024,July,7,340110988,07
43,2024/08,198,644,271,3495,1690,33,67,2024,August,8,340294414,08
44,2024/09,197,582,256,2994,1525,48,65,2024,September,9,340489239,09
45,2024/10,217,571,249,3104,1504,60,66,2024,October,10,340671553,10
46,2024/11,217,514,259,3030,1419,33,70,2024,November,11,340843530,11
47,2024/12,138,413,187,2177,1024,30,46,2024,December,12,341004896,12

In [7]:
for drug_name in names:
    death_census_merge[f"{drug_name}_norm"] = death_census_merge[drug_name] / death_census_merge["resident_population"] * 100000

death_census_merge

,Month Code,heroin,nat_opioid,methadone,syn_opioid,cocaine,unspecified,cannabis,year,month,month_num,resident_population,month_num_str,heroin_norm,nat_opioid_norm,methadone_norm,syn_opioid_norm,cocaine_norm,unspecified_norm,cannabis_norm
0,2021/01,943,1182,342,5543,1828,164,108,2021,January,1,331845010,01,0.284169,0.356190,0.103060,1.670358,0.550860,0.049421,0.032545
1,2021/02,752,1078,312,4890,1609,113,105,2021,February,2,331781640,02,0.226655,0.324912,0.094038,1.473861,0.484958,0.034059,0.031647
2,2021/03,977,1244,341,6236,2096,122,101,2021,March,3,331797645,03,0.294457,0.374927,0.102773,1.879459,0.631710,0.036769,0.030440
3,2021/04,907,1271,333,6272,2212,132,110,2021,April,4,331860794,04,0.273307,0.382992,0.100343,1.889949,0.666545,0.039776,0.033146
4,2021/05,814,1215,323,6159,2107,124,106,2021,May,5,331927373,05,0.245234,0.366044,0.097310,1.855526,0.634777,0.037358,0.031935
5,2021/06,722,1150,289,5939,2028,132,87,2021,June,6,332001243,06,0.217469,0.346384,0.087048,1.788849,0.610841,0.039759,0.026205
6,2021/07,802,1154,289,6076,2128,127,90,2021,July,7,332099760,07,0.241494,0.347486,0.087022,1.829571,0.640771,0.038242,0.027100
7,2021/08,749,1146,304,6150,2178,119,93,2021,August,8,332309095,08,0.225393,0.344860,0.091481,1.850687,0.655414,0.035810,0.027986
8,2021/09,687,1116,284,5981,2093,123,89,2021,September,9,332476987,09,0.206631,0.335662,0.085419,1.798921,0.629517,0.036995,0.026769
9,2021/10,660,1024,270,5915,2111,97,101,2021,October,10,332632825,10,0.198417,0.307847,0.081171,1.778237,0.634634,0.029161,0.030364
10,2021/11,578,1018,279,5604,2012,85,82,2021,November,11,332790066,11,0.173683,0.305899,0.083837,1.683944,0.604585,0.025542,0.024640
11,2021/12,583,1022,312,5838,2084,114,87,2021,December,12,332944016,12,0.175105,0.306959,0.093709,1.753448,0.625931,0.034240,0.026131
12,2022/01,612,1056,313,5962,2126,106,114,2022,January,1,333076095,01,0.183742,0.317045,0.093973,1.789981,0.638293,0.031825,0.034226
13,2022/02,547,992,239,5797,2121,95,104,2022,February,2,333143964,02,0.164193,0.297769,0.071741,1.740089,0.636662,0.028516,0.031218
14,2022/03,570,1037,254,6310,2300,107,113,2022,March,3,333270565,03,0.171032,0.311159,0.076214,1.893357,0.690130,0.032106,0.033906
15,2022/04,508,976,250,5876,2232,105,93,2022,April,4,333450582,04,0.152346,0.292697,0.074974,1.762180,0.669365,0.031489,0.027890
16,2022/05,489,992,281,6014,2280,98,88,2022,May,5,333634341,05,0.146568,0.297332,0.084224,1.802572,0.683383,0.029373,0.026376
17,2022/06,485,991,274,5957,2236,92,93,2022,June,6,333818051,06,0.145289,0.296868,0.082081,1.784505,0.669826,0.027560,0.027859
18,2022/07,496,1058,295,6358,2319,85,96,2022,July,7,334017321,07,0.148495,0.316750,0.088319,1.903494,0.694275,0.025448,0.028741
19,2022/08,470,944,303,6324,2380,94,99,2022,August,8,334269739,08,0.140605,0.282407,0.090645,1.891885,0.712000,0.028121,0.029617
20,2022/09,436,988,248,6019,2313,69,95,2022,September,9,334537650,09,0.130329,0.295333,0.074132,1.799200,0.691402,0.020625,0.028397
21,2022/10,418,989,285,6445,2415,90,94,2022,October,10,334790804,10,0.124854,0.295408,0.085128,1.925083,0.721346,0.026882,0.028077
22,2022/11,395,888,283,6189,2343,72,89,2022,November,11,335024203,11,0.117902,0.265055,0.084472,1.847329,0.699352,0.021491,0.026565
23,2022/12,445,962,309,6596,2508,92,83,2022,December,12,335254172,12,0.132735,0.286946,0.092169,1.967462,0.748089,0.027442,0.024757
24,2023/01,370,899,282,6474,2518,88,96,2023,January,1,335459736,01,0.110296,0.267990,0.084064,1.929889,0.750612,0.026233,0.028617
25,2023/02,373,862,260,5937,2290,44,92,2023,February,2,335661692,02,0.111124,0.256806,0.077459,1.768745,0.682235,0.013108,0.027409
26,2023/03,382,996,282,6669,2624,95,122,2023,March,3,335876018,03,0.113732,0.296538,0.083960,1.985554,0.781241,0.028284,0.036323
27,2023/04,370,924,308,6544,2590,83,97,2023,April,4,336097793,04,0.110087,0.274920,0.091640,1.947052,0.770609,0.024695,0.028861
28,2023/05,355,935,290,6681,2690,59,112,2023,May,5,336315484,05,0.105556,0.278013,0.086229,1.986528,0.799844,0.017543,0.033302
29,2023/06,376,835,270,6246,2576,54,66,2023,June,6,336552261,06,0.111721,0.248104,0.080225,1.855878,0.765409,0.016045,0.019611
30,2023/07,315,843,309,6334,2543,60,75,2023,July,7,336806231,07,0.093526,0.250292,0.091744,1.880607,0.755034,0.017814,0.022268
31,2023/08,315,807,285,6185,2650,57,93,2023,August,8,337103895,08,0.093443,0.239392,0.084544,1.834746,0.786108,0.016909,0.027588
32,2023/09,304,754,241,5618,2289,56,81,2023,September,9,337409418,09,0.090098,0.223467,0.071427,1.665039,0.678404,0.016597,0.024006
33,2023/10,286,793,270,5595,2289,64,68,2023,October,10,337703191,10,0.084690,0.234822,0.079952,1.656780,0.677814,0.018952,0.020136
34,2023/11,240,730,257,5173,2171,46,72,2023,November,11,337986543,11,0.071009,0.215985,0.076039,1.530534,0.642333,0.013610,0.021303
35,2023/12,298,734,301,5320,2222,50,94,2023,December,12,338259155,12,0.088098,0.216993,0.088985,1.572759,0.656893,0.014782,0.027789
36,2024/01,249,845,298,5111,2193,51,77,2024,January,1,338505183,01,0.073559,0.249627,0.088034,1.509873,0.647848,0.015066,0.022747
37,2024/02,260,730,279,4735,2055,49,83,2024,February,2,338740353,02,0.076755,0.215504,0.082364,1.397826,0.606659,0.014465,0.024503
38,2024/03,227,705,251,4806,2099,56,82,2024,March,3,339000753,03,0.066962,0.207964,0.074041,1.417696,0.619173,0.016519,0.024189
39,2024/04,272,712,274,4544,1994,52,93,2024,April,4,339268209,04,0.080173,0.209863,0.080762,1.339353,0.587736,0.015327,0.027412
40,2024/05,245,723,259,4441,2024,35,60,2024,May,5,339539066,05,0.072157,0.212936,0.076280,1.307950,0.596102,0.010308,0.017671
41,2024/06,211,665,271,4216,1931,48,68,2024,June,6,339824802,06,0.062091,0.195689,0.079747,1.240639,0.568234,0.014125,0.020010
42,2024/07,228,663,258,3811,1874,35,74,2024,July,7,340110988,07,0.067037,0.194936,0.075858,1.120517,0.550997,0.010291,0.021758
43,2024/08,198,644,271,3495,1690,33,67,2024,August,8,340294414,08,0.058185,0.189248,0.079637,1.027052,0.496629,0.009697,0.019689
44,2024/09,197,582,256,2994,1525,48,65,2024,September,9,340489239,09,0.057858,0.170931,0.075186,0.879323,0.447885,0.014097,0.019090
45,2024/10,217,571,249,3104,1504,60,66,2024,October,10,340671553,10,0.063698,0.167610,0.073091,0.911142,0.441481,0.017612,0.019373
46,2024/11,217,514,259,3030,1419,33,70,2024,November,11,340843530,11,0.063666,0.150802,0.075988,0.888971,0.416320,0.009682,0.020537
47,2024/12,138,413,187,2177,1024,30,46,2024,December,12,341004896,12,0.040469,0.121113,0.054838,0.638407,0.300289,0.008798,0.013490

In [8]:
death_census_merge.to_csv("./data/wonders_death_census_merge.csv", index=False)