In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/cdc_wonders_heart_attack.csv")
df = df.rename(columns={"Deaths":"heart_attack"})
df = df[["Month Code", "heart_attack"]]
df

   Month Code  heart_attack
0     2018/01          9732
1     2018/02          7807
2     2018/03          8274
3     2018/04          7752
4     2018/05          7383
..        ...           ...
79    2024/08          6007
80    2024/09          5987
81    2024/10          6456
82    2024/11          6352
83    2024/12          7314

[84 rows x 2 columns]

In [3]:
census = pd.read_csv("./data/census_data.csv")
census["month_num_str"] = census["month_num"].astype(str).str.zfill(2)
census["Month Code"] = census["year"].astype(str) + "/" + census["month_num_str"]
census

    year      month  month_num  resident_population month_num_str Month Code
0   2021    January          1            331845010            01    2021/01
1   2021   February          2            331781640            02    2021/02
2   2021      March          3            331797645            03    2021/03
3   2021      April          4            331860794            04    2021/04
4   2021        May          5            331927373            05    2021/05
5   2021       June          6            332001243            06    2021/06
6   2021       July          7            332099760            07    2021/07
7   2021     August          8            332309095            08    2021/08
8   2021  September          9            332476987            09    2021/09
9   2021    October         10            332632825            10    2021/10
10  2021   November         11            332790066            11    2021/11
11  2021   December         12            332944016            12    2021/12
12  2022    January          1            333076095            01    2022/01
13  2022   February          2            333143964            02    2022/02
14  2022      March          3            333270565            03    2022/03
15  2022      April          4            333450582            04    2022/04
16  2022        May          5            333634341            05    2022/05
17  2022       June          6            333818051            06    2022/06
18  2022       July          7            334017321            07    2022/07
19  2022     August          8            334269739            08    2022/08
20  2022  September          9            334537650            09    2022/09
21  2022    October         10            334790804            10    2022/10
22  2022   November         11            335024203            11    2022/11
23  2022   December         12            335254172            12    2022/12
24  2023    January          1            335459736            01    2023/01
25  2023   February          2            335661692            02    2023/02
26  2023      March          3            335876018            03    2023/03
27  2023      April          4            336097793            04    2023/04
28  2023        May          5            336315484            05    2023/05
29  2023       June          6            336552261            06    2023/06
30  2023       July          7            336806231            07    2023/07
31  2023     August          8            337103895            08    2023/08
32  2023  September          9            337409418            09    2023/09
33  2023    October         10            337703191            10    2023/10
34  2023   November         11            337986543            11    2023/11
35  2023   December         12            338259155            12    2023/12
36  2024    January          1            338505183            01    2024/01
37  2024   February          2            338740353            02    2024/02
38  2024      March          3            339000753            03    2024/03
39  2024      April          4            339268209            04    2024/04
40  2024        May          5            339539066            05    2024/05
41  2024       June          6            339824802            06    2024/06
42  2024       July          7            340110988            07    2024/07
43  2024     August          8            340294414            08    2024/08
44  2024  September          9            340489239            09    2024/09
45  2024    October         10            340671553            10    2024/10
46  2024   November         11            340843530            11    2024/11
47  2024   December         12            341004896            12    2024/12
48  2025    January          1            341145500            01    2025/01
49  2025   February          2            341271663            02    2025/02
50  2025      March          3            341413812            03    2025/03
51  2025      April          4            341554233            04    2025/04
52  2025        May          5            341704048            05    2025/05
53  2025       June          6            341869297            06    2025/06
54  2025       July          7            342034432            07    2025/07
55  2025     August          8            342214706            08    2025/08
56  2025  September          9            342406376            09    2025/09
57  2025    October         10            342585507            10    2025/10
58  2025   November         11            342754338            11    2025/11
59  2025   December         12            342912518            12    2025/12

In [4]:
death_census_merge = pd.merge(df, census, on='Month Code', how='inner')
death_census_merge

,Month Code,heart_attack,year,month,month_num,resident_population,month_num_str
0,2021/01,8993,2021,January,1,331845010,01
1,2021/02,7664,2021,February,2,331781640,02
2,2021/03,7924,2021,March,3,331797645,03
3,2021/04,7341,2021,April,4,331860794,04
4,2021/05,7111,2021,May,5,331927373,05
5,2021/06,6977,2021,June,6,332001243,06
6,2021/07,7217,2021,July,7,332099760,07
7,2021/08,7509,2021,August,8,332309095,08
8,2021/09,7472,2021,September,9,332476987,09
9,2021/10,7682,2021,October,10,332632825,10
10,2021/11,7874,2021,November,11,332790066,11
11,2021/12,8750,2021,December,12,332944016,12
12,2022/01,9419,2022,January,1,333076095,01
13,2022/02,7570,2022,February,2,333143964,02
14,2022/03,7360,2022,March,3,333270565,03
15,2022/04,6910,2022,April,4,333450582,04
16,2022/05,7011,2022,May,5,333634341,05
17,2022/06,6771,2022,June,6,333818051,06
18,2022/07,7080,2022,July,7,334017321,07
19,2022/08,6806,2022,August,8,334269739,08
20,2022/09,6794,2022,September,9,334537650,09
21,2022/10,7256,2022,October,10,334790804,10
22,2022/11,7535,2022,November,11,335024203,11
23,2022/12,8396,2022,December,12,335254172,12
24,2023/01,7672,2023,January,1,335459736,01
25,2023/02,6649,2023,February,2,335661692,02
26,2023/03,7071,2023,March,3,335876018,03
27,2023/04,6647,2023,April,4,336097793,04
28,2023/05,6537,2023,May,5,336315484,05
29,2023/06,6164,2023,June,6,336552261,06
30,2023/07,6195,2023,July,7,336806231,07
31,2023/08,6293,2023,August,8,337103895,08
32,2023/09,6175,2023,September,9,337409418,09
33,2023/10,6647,2023,October,10,337703191,10
34,2023/11,6716,2023,November,11,337986543,11
35,2023/12,7450,2023,December,12,338259155,12
36,2024/01,7827,2024,January,1,338505183,01
37,2024/02,6583,2024,February,2,338740353,02
38,2024/03,6676,2024,March,3,339000753,03
39,2024/04,6304,2024,April,4,339268209,04
40,2024/05,6373,2024,May,5,339539066,05
41,2024/06,5938,2024,June,6,339824802,06
42,2024/07,5854,2024,July,7,340110988,07
43,2024/08,6007,2024,August,8,340294414,08
44,2024/09,5987,2024,September,9,340489239,09
45,2024/10,6456,2024,October,10,340671553,10
46,2024/11,6352,2024,November,11,340843530,11
47,2024/12,7314,2024,December,12,341004896,12

In [5]:
death_census_merge[f"heart_attack_norm"] = death_census_merge["heart_attack"] / death_census_merge["resident_population"] * 100000

death_census_merge

,Month Code,heart_attack,year,month,month_num,resident_population,month_num_str,heart_attack_norm
0,2021/01,8993,2021,January,1,331845010,01,2.710000
1,2021/02,7664,2021,February,2,331781640,02,2.309953
2,2021/03,7924,2021,March,3,331797645,03,2.388203
3,2021/04,7341,2021,April,4,331860794,04,2.212072
4,2021/05,7111,2021,May,5,331927373,05,2.142336
5,2021/06,6977,2021,June,6,332001243,06,2.101498
6,2021/07,7217,2021,July,7,332099760,07,2.173142
7,2021/08,7509,2021,August,8,332309095,08,2.259643
8,2021/09,7472,2021,September,9,332476987,09,2.247374
9,2021/10,7682,2021,October,10,332632825,10,2.309453
10,2021/11,7874,2021,November,11,332790066,11,2.366056
11,2021/12,8750,2021,December,12,332944016,12,2.628069
12,2022/01,9419,2022,January,1,333076095,01,2.827882
13,2022/02,7570,2022,February,2,333143964,02,2.272291
14,2022/03,7360,2022,March,3,333270565,03,2.208416
15,2022/04,6910,2022,April,4,333450582,04,2.072271
16,2022/05,7011,2022,May,5,333634341,05,2.101402
17,2022/06,6771,2022,June,6,333818051,06,2.028350
18,2022/07,7080,2022,July,7,334017321,07,2.119651
19,2022/08,6806,2022,August,8,334269739,08,2.036080
20,2022/09,6794,2022,September,9,334537650,09,2.030863
21,2022/10,7256,2022,October,10,334790804,10,2.167324
22,2022/11,7535,2022,November,11,335024203,11,2.249091
23,2022/12,8396,2022,December,12,335254172,12,2.504369
24,2023/01,7672,2023,January,1,335459736,01,2.287011
25,2023/02,6649,2023,February,2,335661692,02,1.980864
26,2023/03,7071,2023,March,3,335876018,03,2.105241
27,2023/04,6647,2023,April,4,336097793,04,1.977698
28,2023/05,6537,2023,May,5,336315484,05,1.943711
29,2023/06,6164,2023,June,6,336552261,06,1.831513
30,2023/07,6195,2023,July,7,336806231,07,1.839337
31,2023/08,6293,2023,August,8,337103895,08,1.866784
32,2023/09,6175,2023,September,9,337409418,09,1.830121
33,2023/10,6647,2023,October,10,337703191,10,1.968296
34,2023/11,6716,2023,November,11,337986543,11,1.987061
35,2023/12,7450,2023,December,12,338259155,12,2.202453
36,2024/01,7827,2024,January,1,338505183,01,2.312225
37,2024/02,6583,2024,February,2,338740353,02,1.943376
38,2024/03,6676,2024,March,3,339000753,03,1.969317
39,2024/04,6304,2024,April,4,339268209,04,1.858117
40,2024/05,6373,2024,May,5,339539066,05,1.876956
41,2024/06,5938,2024,June,6,339824802,06,1.747371
42,2024/07,5854,2024,July,7,340110988,07,1.721203
43,2024/08,6007,2024,August,8,340294414,08,1.765236
44,2024/09,5987,2024,September,9,340489239,09,1.758352
45,2024/10,6456,2024,October,10,340671553,10,1.895080
46,2024/11,6352,2024,November,11,340843530,11,1.863612
47,2024/12,7314,2024,December,12,341004896,12,2.144837

In [6]:
death_census_merge.to_csv("./data/wonders_death_census_heart_attack.csv", index=False)